.products-page {
  padding: 2rem;
  background: #ffffff;
  min-height: 100vh;
}


.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  max-width: 300px;
}

.image-container{
  width: 100%;
  height:350px;
  box-shadow: 0 2px 12px rgba(34, 40, 49, 0.205);
  border-radius: 25px;
}

.product-image {
  width: 100%;  
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 1rem;
}


.product-info-container{
  width: 100%;
  margin:0.5rem;
  padding:0.25rem;

}


.product-name {
  color: #23272f;
  margin: 0rem 0.5rem;
  font-size: 1.2rem;
    font-weight: 500;
}

.product-card:hover  .product-name{
    text-decoration: underline;
}


.product-price {
  font-weight: bold;
  color: #222831;
  margin: 0rem 0.5rem;
}

.product-category {
  font-size: 0.9rem;
  color: #a0a4ab;
  margin: 0.25rem 0.5rem;
  display: flex;
  gap:0.25rem;
  max-width: 50%;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.pagination-btn {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  background: #23272f;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.pagination-btn.disabled,
.pagination-btn:disabled {
  background: #e0e2e7;
  color: #a0a4ab;
  cursor: not-allowed;
}

.pagination-info {
  margin: 0 1rem;
  color: #23272f;
}

.product-category{


}


.tag{
  background-color: #222831a2;
  color:white;
  font-size: 0.6rem;
  font-weight: 600;
  padding:0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}